@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


/********             NAVBAR          *******/

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: #5A31A6;
    color: #ffffff;
    padding: 2rem;
}

.navbar h1 {
    color: #FDB92B;
    font-family: 'Luckiest Guy', cursive;
    font-size: 2.5rem;
    font-weight: 500;
    
}

.navbar .nav-menu ul {
    display: flex;
    list-style: none;
    
}

.navbar .nav-menu ul li a{
    display: flex;
    justify-content: space-between;
    padding: 0 1.2rem;
    font-size: 1rem;
    color: #FDB92B;
    text-decoration: none;
}

.navbar .nav-menu-right a {
    color: #FDB92B;
    padding-left: 1rem;
    text-decoration: none;
    font-size: 1rem;
    transition: all 0.2s ease;
}

.nav-menu-right .login {
    padding: .5rem 1rem;
    border-radius: 5px;
    background-color: #ffffff;
    font-weight: 600;
}

.nav-menu-right .login:hover {
    background-color: #FDB92B;
    color: #ffffff;
}

.nav-menu-right a i {
    font-size: 1.5rem;
}


.nav-menu-right span {
    display: none;
}

@media screen and (max-width: 700px) {
    .navbar .nav-menu ul  {
        position:absolute;
        right: 0;
        top: 0;
        
    }
    
}